**/*.log
*.log
**/*.aux
*.aux
**/*.synctex.gz
*.synctex.gz
**/*.fls
*.fls
**/*.fdb_latexmk
*.fdb_latexmk
*.fdb_latexmk
*.pdf
**/*.pyc
*.pyc
Data/zero_cupon_europe.csv
/Python/__pycache__/data.cpython-313.pyc
/Python/__pycache__/data.cpython-313.pyc
R/Data/YieldCurveData.csv
/Data/Active_reserve_strategy/Output/cppi_analysis.csv
/Data/Active_reserve_strategy/Output/tie_in_trigger_analysis.csv
/Python/__pycache__/data.cpython-313.pyc
/Data/Active_reserve_strategy/Output/cppi_analysis1.25.csv
/Data/Active_reserve_strategy/Output/cppi_analysis1.4.csv
